@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f7fafc;
  --text: #0f172a;
}

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial;
  background: var(--bg);
  color: var(--text);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

@layer components {
  .btn-blue {
    @apply inline-flex items-center justify-center rounded-md bg-blue-600 px-4 py-2 font-medium text-white transition-colors duration-200;
    width: 100px;
  }

  .btn-blue:hover {
    @apply bg-blue-700;
  }

  .btn-blue:active {
    @apply bg-blue-800;
  }

  .btn-blue:focus-visible {
    @apply outline-none ring-2 ring-blue-500 ring-offset-2;
  }

  .btn-blue:disabled {
    @apply cursor-not-allowed bg-blue-300;
  }
}
