@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f7fafc;
  --text: #0f172a;
}

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial;
  background: var(--bg);
  color: var(--text);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
